<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.order.OrderMapper">

    <select id="getAllOrders" resultMap="Order">
        select * from OrderList
    </select>
    <select id="getUserOrders" resultMap="Order">
        select * from OrderList where userId=#{userid}
    </select>
    <insert id="addOrder" parameterType="com.example.hotel.po.Order" useGeneratedKeys="true" keyProperty="id">
        insert into OrderList(userId,hotelId,hotelName,checkInDate,checkOutDate,roomType,roomNum,peopleNum,haveChild,createDate,price,clientName,phoneNumber,orderState)
        values(#{userId},#{hotelId},#{hotelName},#{checkInDate},#{checkOutDate},#{roomType},#{roomNum},#{peopleNum},#{haveChild},#{createDate},#{price},#{clientName},#{phoneNumber},#{orderState})
    </insert>
    <select id="getOrderById" resultMap="Order">
        select * from OrderList where id=#{orderid}
    </select>
    
    <select id="getPrice">
        select price from OrderList where id=#{orderId}
    </select>
    
   <!--取消订单的数据库操作-->
    <update id="annulOrder">
        update Orderlist
        SET orderState = '已撤销'
        WHERE id = #{orderid}
    </update>

    <!--设置订单状态异常的数据库操作-->
    <update id="exceptionOrder">
        update Orderlist
        SET orderState = '异常'
        WHERE id = #{orderid}
    </update>

    <update id="executeOrder">
        update Orderlist
        SET orderState = '已执行', checkInDate = #{checkInDate}
        WHERE id = #{orderId}
    </update>

    <update id="checkOutOrder">
        update Orderlist
        SET checkOutDate = #{checkOutDate}
        WHERE id = #{orderId}
    </update>


    <update id="setOrderState">
        update Orderlist
        SET orderState = #{state}
        WHERE id = #{orderid}
    </update>


    <resultMap id="Order" type="com.example.hotel.po.Order">
    </resultMap>
</mapper>