<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.admin.AdminMapper">
    <insert id="addManager" parameterType="com.example.hotel.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into User(email,password,usertype)
        values(#{email},#{password},#{userType})
    </insert>

    <delete id="delAccountById">
        DELETE from User where id = #{userId}
    </delete>

    <select id="getAllManagers" resultMap="User">
        select * from User where usertype='HotelManager'
    </select>
    
    <select id="getAccountById" resultMap="User">
        select * from User where id = #{userId}
    </select>

    <select id="getHotelManager" resultMap="User">
        select * from User WHERE id = (select manager_id from Hotel where Hotel.id = #{hotelId})
    </select>

    <select id="retrieveUserByName" resultMap="User">
        select * from User WHERE username like concat('%',#{userName},'%')
    </select>

    <select id="retrieveUserByEmail" resultMap="User">
        select * from User WHERE email = #{email}
    </select>

    <update id="updateUserInfo" parameterType="com.example.hotel.po.User">
        update User
        <set>
            <if test="email!=null">email=#{email},</if>
            <if test="userName!=null">username=#{userName},</if>
            <if test="phoneNumber!=null">phonenumber=#{phoneNumber},</if>
            <if test="credit!=null">credit=#{credit},</if>
            <if test="userType!=null">usertype=#{userType}</if>
        </set>
        WHERE id=#{id}
    </update>

    <update id="updateHelper">
        update User SET password=#{password} where id = #{userId}
    </update>

    <resultMap id="User" type="com.example.hotel.po.User">
        <id column="id" property="id"></id>
        <result column="email" property="email"></result>
        <result column="password" property="password"></result>
        <result column="username" property="userName"></result>
        <result column="phonenumber" property="phoneNumber"></result>
        <result column="credit" property="credit"></result>
        <result column="usertype" property="userType"></result>
    </resultMap>
</mapper>