<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hotel.data.hotel.HotelMapper">
    <insert id="insertHotel" parameterType="com.example.hotel.po.Hotel"
    useGeneratedKeys="true" keyProperty="id">
        insert into Hotel(address,bizRegion,hotelDescription,hotelStar,hotelName,phoneNum,rate,manager_id)
        values (#{address},#{bizRegion},#{description},#{hotelStar},#{hotelName},#{phoneNum},#{rate},#{managerId})
    </insert>

    <select id="selectAllHotel" resultMap="Hotel">
        select * from Hotel
    </select>
    <select id="selectById" resultMap="Hotel">
        select * from Hotel where id=#{id}
    </select>

    <select id="selectHotelByBizAndAdd" resultMap="Hotel">
        select * from Hotel where bizRegion=#{bizRegion} and address like CONCAT('%',#{address},'%')
    </select>

    <select id="retrieveHotelsByHotelAndRoomVO" resultMap="Hotel">
        select * from Hotel where id in (
            select distinct hotel_id
            from Room where roomType=#{roomType}
                and price between #{loPrice} and #{hiPrice}
                and hotel_id in (
                    select id from Hotel
                    where bizRegion=#{bizRegion}
                    and address like concat('%',#{address},'%')
                    and hotelName like concat('%',#{name},'%')
                    and rate>=#{rate}
                    and hotelStar=#{hotelStar}
                    )
            )
    </select>
    <resultMap id="Hotel" type="com.example.hotel.vo.HotelVO">
        <id column="id" property="id"></id>
        <result column="address" property="address"></result>
        <result column="bizRegion" property="bizRegion"></result>
        <result column="hotelDescription" property="description"></result>
        <result column="hotelStar" property="hotelStar"></result>
        <result column="hotelName" property="name"></result>
        <result column="phoneNum" property="phoneNum"></result>
        <result column="rate" property="rate"></result>
        <result column="manager_id" property="managerId"></result>

    </resultMap>

    <update id="updateHotelInfo" parameterType="com.example.hotel.vo.UpdateHotelVO">
        update Hotel
        <set>
            <if test="address!=null">address=#{address},</if>
            <if test="bizRegion!=null">bizRegion=#{bizRegion},</if>
            <if test="hotelStar!=null">hotelStar=#{hotelStar},</if>
            <if test="description!=null">hotelDescription=#{description}</if>
        </set>
        WHERE id=#{id}
    </update>

</mapper>